@font-face {
  font-family: 'dartsfont';
  src: local('dartsfont'),
	     url('./assets/fonts/dartsfont/dartsfont.eot?#iefix') format('eot'),
		   url('./assets/fonts/dartsfont/dartsfont.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'dartsfont';
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
